{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_greetings/greeting

    Greeting template

    Example context (json):
    {
    }
}}
<div class="w-25 py-1">
    <input type="text"
        id="nameinput-{{uniqueid}}"
        name="name"
        class = "form-control"
        data-region="local_greetings/view-testing-ajit-input"
        placeholder="{{#str}}entername, local_greetings{{/str}}"
        aria-label="{{#str}}entername, local_greetings{{/str}}"
    />
</div>
<div>
    <button data-action="local_greetings/view-testing-ajit-greet_button"
        class="btn btn-primary">
        {{#str}}go{{/str}}
    </button>
    <button data-action="local_greetings/view-testing-ajit-reset_button"
        class="btn btn-secondary">
        {{#str}}reset{{/str}}
    </button>
</div>

<div class="greetuserajit py-2"
    data-region="local_greetings/view-testing-ajit-usergreeting">
</div>


{{#js}}
require(['local_greetings/greetingsajit'], function(module){
    module.init();
});
{{/js}}
